Lychee.Infrastructure/Lychee.Infrastructure/bin/
Lychee.Infrastructure/packages/
Lychee.Infrastructure/Lychee.Infrastructure.Test/bin/
Lychee.Infrastructure/.vs/
Lychee.Infrastructure/Lychee.Infrastructure.Test/obj/
Lychee.Infrastructure/Lychee.Infrastructure/obj/
